<div class="header">
  <mat-toolbar class="mat-elevation-z8 toolbar">
    <button mat-icon-button aria-label="">
      <img src="../../assets/logo.png" width="100%" />
    </button>

    <span style="margin-left: 10px">{{ "header.title" | translate }}</span>
    <span class="spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="languageMenu">
      {{ currentLanguage }}
    </button>

    <button
      mat-icon-button
      aria-label=""
      (click)="logOut()"
      *ngIf="currentUser?.authenticated"
    >
      <span class="material-icons">logout</span>
    </button>
  </mat-toolbar>

  <mat-menu #languageMenu="matMenu">
    <button mat-menu-item (click)="setLanguage('en')">
      {{ "header.en_lang" | translate }}
    </button>
    <button mat-menu-item (click)="setLanguage('hi')">
      {{ "header.hi_lang" | translate }}
    </button>
    <button mat-menu-item (click)="setLanguage('ge')">
      {{ "header.ge_lang" | translate }}
    </button>
  </mat-menu>

  <!-- Mobile -->
  <div *ngIf="screenWidth <= 480">
    <mat-toolbar class="toolbarNav">
      <button
        mat-flat-button
        routerLink="/dashboard"
        routerLinkActive="active-link"
      >
        <mat-icon class="material-icons">dashboard</mat-icon>
        <span>{{ "header.dashboard" | translate }}</span>
      </button>
      <button
        mat-flat-button
        routerLink="/profile"
        routerLinkActive="active-link"
      >
        <mat-icon class="material-icons">person</mat-icon>
        <span>{{ "header.profile" | translate }}</span>
      </button>
      <button
        mat-flat-button
        routerLink="/notification"
        routerLinkActive="active-link"
      >
        <mat-icon class="material-icons">notifications</mat-icon>
        <span>{{ "header.notification" | translate }}</span>
      </button>
    </mat-toolbar>
  </div>
</div>
