<div class="frequent-user">
  <mat-card class="mat-elevation-z3">
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <div class="circle" fxLayout="row" fxLayoutAlign="center center">
          <i class="material-icons">trending_up</i>
        </div>

        <div class="wrapper">
          <h2>
            {{
              mostFrequentUser
                ? mostFrequentUser.to_email
                : "User not available"
            }}
          </h2>
          <h3>{{ "dashboard.frequent_user" | translate }}</h3>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
