<div class="sidenav">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      id="sidenavContainer"
      #sidenav
      mode="side"
      [opened]="mobileQuery.matches ? 'false' : 'true'"
    >
      <mat-nav-list>
        <a
          mat-list-item
          [routerLink]="item.path"
          *ngFor="let item of sideNavItems"
          routerLinkActive="active"
        >
          {{ item.name | translate }}
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <div class="sidenav-content__wrapper">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
