<div class="latest-feed">
  <mat-card>
    <h3 class="title">Latest Feed</h3>
    <mat-divider></mat-divider>
    <mat-card-content *ngIf="messages.length">
      <div *ngFor="let message of messages">
        <p>
          {{ message.message | titlecase }} - from ({{ message.from_email }}) -
          to ({{ message.to_email }}) -
          {{ getCurrentDate(message.created_at) }}
        </p>
        <mat-divider></mat-divider>
      </div>
    </mat-card-content>

    <mat-card-actions align="end" *ngIf="messages.length">
      <button mat-button routerLink="/notification">View More</button>
    </mat-card-actions>

    <div *ngIf="messages.length == 0">
      <p>
        <button mat-raised-button routerLink="/notification">
          Add notification to see latest feed
        </button>
      </p>
    </div>
  </mat-card>
</div>
