<div class="latest-feed">
  <mat-card>
    <h3 class="title">{{ "dashboard.latest_feed" | translate }}</h3>
    <mat-divider></mat-divider>
    <mat-card-content *ngIf="messages.length">
      <div *ngFor="let message of messages">
        <p>
          {{ message.message | titlecase }} -
          {{ "notification.form" | translate }} ({{ message.from_email }}) -
          {{ "notification.to" | translate }} ({{ message.to_email }}) -
          {{ getCurrentDate(message.created_at) }}
        </p>
        <mat-divider></mat-divider>
      </div>
    </mat-card-content>

    <mat-card-actions align="end" *ngIf="messages.length">
      <button mat-button routerLink="/notification">
        {{ "dashboard.more" | translate }}
      </button>
    </mat-card-actions>

    <div *ngIf="messages.length == 0">
      <p>
        <button mat-raised-button routerLink="/notification">
          {{ "dashboard.latest_feed_zero_state" | translate }}
        </button>
      </p>
    </div>
  </mat-card>
</div>
