.confirmation-dialog {
  display: flex;
  flex-direction: column;

  .dialog-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 20px;

    .material-icon-wrapper {
      height: 36px;
      width: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      margin-right: 12px;

      span {
        color: red;
      }
    }

    h3 {
      font-size: 18px;
      margin-bottom: 0;
      line-height: 19px;

      @media only screen and (max-width: 369px) {
        font-size: 14px;
        line-height: 16px;
      }
      @media only screen and (max-width: 314px) {
        font-size: 12px;
        font-weight: 600;
      }
    }
  }

  .dialog-actions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  button {
    min-width: 90px;
  }
}
